body {
  background-color: #fff;
  font-size: 18px;
  color: #000;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 91px;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 33px;
  list-style-type: circle;
  line-height: 1.2;
  padding-bottom: 5px;
}

.header__link,
.address a {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active,
.footer__menu-item_active a {
  text-decoration: none;
}

.address {
  line-height: 1.35;
  max-width: 240px;
  font-style: normal;
  padding-bottom: 4px;
  padding-left: 1px;
}

.header__address {
  justify-self: self-end;
}

.cover {
  background: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding: 165px 50px 105px;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.letter-spacing-extended {
  letter-spacing: 80%;
  word-spacing: 18px;
}

.aligned-text_center {
  display: block;
  margin-top: 18px;
  text-align: center;
}

.aligned-text_right {
  display: block;
  margin-top: 18px;
  text-align: right;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 50px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 120px 24px;
  font-size: 20px;
}

.lots__heading,
.about__title {
  font-size: 40px;
  text-transform: uppercase;
}

.lots__heading {
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  margin-top: 27px;
}
.lots__card-list-item {
  list-style-type: none;
  color: #fff;
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  padding: 48px 40px 47px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  text-decoration: none;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  margin: 120px 24px 180px 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border-radius: 100%;
  margin-top: 34px;
  background-color: #000;
}

.about__title {
  margin-top: 135px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin: 181px 50px 82px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
  line-height: 1.2;
  padding-bottom: 5px;
}

.footer__menu-item a {
  text-underline-offset: 3px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 48px;
}
